target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Frontend ###
hamsterbet-frontend/logs
hamsterbet-frontend/*.log
hamsterbet-frontend/npm-debug.log*
hamsterbet-frontend/yarn-debug.log*
hamsterbet-frontend/yarn-error.log*
hamsterbet-frontend/pnpm-debug.log*
hamsterbet-frontend/lerna-debug.log*

hamsterbet-frontend/node_modules
hamsterbet-frontend/dist
hamsterbet-frontend/dist-ssr
hamsterbet-frontend/*.local


hamsterbet-frontend/.vscode/*
hamsterbet-frontend/!.vscode/extensions.json
hamsterbet-frontend/.idea
hamsterbet-frontend/.DS_Store
hamsterbet-frontend/*.suo
hamsterbet-frontend/*.ntvs*
hamsterbet-frontend/*.njsproj
hamsterbet-frontend/*.sln
hamsterbet-frontend/*.sw?


### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store